<!doctype html>
<html ng-app="tauApp">
    <head>
        <% include header %>
        <style type="text/css">
        .panel-header-plain a {
        color: white;
        margin-right: 5px;
        }
        .small-text {
            font-size: 70%;
        }
        </style>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css"></link>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/minified/jquery-ui.min.css"></link>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css"></link>
        <script src="js/multiSortable.js" type="text/javascript"></script>

        <script src="js/datetime.js"></script>
        <script src="js/data-view.js"></script>
        <script type="text/javascript" src="js/ng-tags-input.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css"></link>
        <script type="text/javascript" src="js/JSONedit.js"></script>
        <link rel="stylesheet" type="text/css" href="css/JSONedit.css"></link>
        <link rel="stylesheet" type="text/css" href="css/tau.css"></link>
    </head>
    <body ng-controller="DataProcess">
        <% include mainnav %>

        <div class="container-fluid" style="height: 100%;">
            <div class="row-fluid">    
                <div class="col-md-2">
                    <div class="panel" ng-controller="TaskActive">
                        <div class="panel-header">Active Nodes</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active" ng-repeat="(key, val) in active"><a class="small-text" href="#"><span class="badge pull-right">{{val.length}}</span>{{key}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">Process Configuration</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#" ng-click="show('process-tasks')"><i class="fa fa-filter icon-white"></i> Process Tasks</a></li>
                                <li class="active"><a href="#" ng-click="show('configuration')"><i class="fa fa-cogs icon-white"></i> Configuration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-10">
                    <div class="panel" ng-if="view == 'configuration'" ng-controller="TaskConfiguration">
                        <div class="panel-header">Configuration</div>
                        <div class="panel-control">
                            <div style="width: 300px; float: left;">
                                <tags-input ng-model="searchTags" 
                                            custom-class="tag-search"
                                            placeholder="Add search tags...">
                                    <auto-complete source="tag_autocomplete($query)" 
                                                   source_value="tag_autocomplete($query)" 
                                                   min-length=1>
                                    </auto-complete>
                                </tags-input>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="searchTagsHandler()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="addConfigHandler(false)">
                                    <i class="fa fa-plus-square icon-white"></i> New Configuration</a>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="addConfigHandler(true)">
                                    <i class="fa fa-pencil-square icon-white"></i> Clone Selected</a>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="deleteConfigHandler()">
                                    <i class="fa fa-minus-square icon-white"></i> Delete Selected</a>
                            </div>
                            <br style="clear: both;" />
                        </div>

                        <div class="panel-inner" style="height: 500px;">
                            <div style="position:fixed; height: 500px; width: 81%; overflow-y: scroll; background: white; z-index: 100;" ng-if="showEditContent">
                                <div class="jsonView" style="width: 80%;">
                                    <json child="editcontent" type="'object'" save="saveContent"></json>
                                </div>
                            </div>
                            <div style="height: 100%;" ng-grid="gridHandler()"></div>
                        </div>
                    </div>
                    <div class="panel" ng-if="view == 'process-tasks'" ng-controller="TaskProcess">
                        <div class="panel-header">Process Tasks</div>
                        <div class="panel-control">
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Name</span><input class="tag-search" type="text" ng-model="searchName" placeholder="" />
                            </div>
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Process</span><input class="tag-search" type="text" ng-model="searchProcessor" placeholder="" />
                            </div>
                            <div style="float:left; margin-right: 10px;"> <!-- style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">-->
                                <a class="btn btn-primary btn-xs" href="#" ng-click="searchHandler()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="addProcessHandler(false)">
                                        <i class="fa fa-plus-square icon-white"></i> New Process</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="addProcessHandler(true)">
                                        <i class="fa fa-pencil-square icon-white"></i> Clone Selected</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="deleteProcessHandler()">
                                        <i class="fa fa-minus-square icon-white"></i> Delete Selected</a>
                                </div>
                            <br style="clear: both;" />
                        </div>
                        <div class="panel-inner" style="height: 500px;">
                            <div style="position:fixed; height: 500px; width: 81%; overflow-y: scroll; background: white; z-index: 100;" ng-if="showJsonEdit">
                                <div class="jsonView" style="width: 80%;">
                                    <json child="jsonValue" type="'object'" save="saveJson"></json>
                                </div>
                            </div>
                            <div style="height: 100%;" ng-grid="gridHandler()"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include script %>

        <% include footer %>
    </body>
</html>
