<!doctype html>
<html ng-app="tauApp">
    <head>
        <% include header %>
        <style type="text/css">
        .panel-header-plain a {
        color: white;
        margin-right: 5px;
        }
        </style>
        
        <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>
        <script src="http://code.highcharts.com/stock/highcharts-more.js" type="text/javascript"></script>
        <script src="http://code.highcharts.com/stock/modules/exporting.js" type="text/javascript"></script>
        <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.js" type="text/javascript"></script> -->
        <script src="js/ng-grid.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css"></link>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css"></link>

        <script src="js/datetime.js"></script>
        <script src="js/data-view.js"></script>
        <script type="text/javascript" src="js/ng-tags-input.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css"></link>
        <script type="text/javascript" src="js/JSONedit.js"></script>
    </head>
    <body>
        <% include mainnav %>

        <div class="container-fluid" style="height: 100%;">
            <div class="row-fluid">    
                <div class="col-md-2">
                    <div class="panel" ng-controller="SeriesSummary">
                        <div class="panel-header">Summary</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#"><span class="badge pull-right">{{series.count}}</span>Series Count</a></li>
                                <li class="active"><a href="#"><span class="badge pull-right">{{series.first}}</span>Earliest</a></li>
                                <li class="active"><a href="#"><span class="badge pull-right">{{series.last}}</span>Latest</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel" ng-controller="SeriesSearch">
                        <div class="panel-header">Search</div>
                        <div class="panel-inner">
                            <tags-input ng-model="tags"
                                        custom-class="tag-search"
                                        add-on-space="false"
                                        add-on-comma="false"
                                        add-on-blur="false"
                                        placeholder="Add search tags...">
                                <auto-complete source="tag_autocomplete($query)" 
                                               source_value="tag_autocomplete($query)" 
                                               min-length=1>
                                </auto-complete>
                            </tags-input>
                            <div class="button-space">
                                <a class="btn btn-primary btn-xs btn-pull-right" href="#" ng-click="search()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div ng-show="search_result.length">
                                <button type="button" class="btn btn-primary btn-xs" ng-model="sortOrder" 
                                                      data-html="1" data-multiple="1" data-animation="am-flip-x" 
                                                      data-sort="0" data-placeholder="sort..."
                                                      data-template="tag-sort-select.html"
                                                      ng-options="icon.value as icon.label for icon in sortOrderOptions" bs-select>
                                Action <span class="caret"></span>
                                </button>
                            </div>
                            <div class="search-list" ng-if="search_result.length">
                                <div style="height: 100px; width:100%; z-index: 1000; position: absolute; top: 0; right: 0; background: url(img/load.gif) no-repeat center scroll;" ng-if="loading"></div>
                                <div class="search-result" ng-repeat="result in search_result" 
                                                           ng-class="result.ng_selected ? 'search-result-selected' : 'not-selected'" 
                                                           ng-mouseenter="highlight(result, true)" 
                                                           ng-mouseleave="highlight(result, false)" 
                                                           ng-dblclick="view(result)">
                                    <span class="label label-primary search-result-label" ng-repeat="(name, value) in result.tags">{{name}}:{{value}}</span> 
                                    <spark class="search-result-spark" sparkwidth="2.5" sparkheight="0.35" resolution="5000" series="result"></spark>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-10" ng-controller="SeriesViews">
                    <div class="panel" ng-repeat="instance in series track by $index" ng-controller="SeriesView">
                        <div class="panel-header-plain">
                            <span class="label label-primary search-result-label" ng-repeat="(name, value) in instance.tags">{{name}}:{{value}}</span>
                            ID ({{instance.id}})
                            <a href="#" class="pull-right" ng-click="closeView($index)"><i class="fa fa-times-circle icon-white"> close</i></a>
                        </div>
                        <div class="panel-control">
                            <div id="plot-buttons" class="input-append">
                                <button class="btn btn-primary btn-xs" type="button" ng-click="start()"><i class="fa fa-fast-backward icon-white"></i></button>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="move(-1)"><i class="fa fa-backward icon-white"></i></button>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <i class="fa fa-resize-horizontal icon-white"></i> window
                                    </span><input style="width: 70px;" type="number" name="state.window" ng-model="state.window" ng-pattern="/[0-9]+$/">
                                </div>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="move(1)"><i class="fa fa-forward icon-white"></i></button>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="end()"><i class="fa fa-fast-forward icon-white"></i></button>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="test()"><i class="fa fa-search-minus icon-white"> unzoom</i></button>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="toggle()"><i class="fa fa-eye icon-white"> toggle</i></button>
                                <button class="btn btn-primary btn-xs" type="button" ng-click="toggle(true)"><i class="fa fa-eye-slash icon-white"> split</i></button>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                    <i class="fa fa-calendar icon-white"></i> date
                                    </span><input style="width: 90px;" type="text" name="state.date" ng-model="state.date" ng-pattern="/[0-9]+$/" ng-change="dateChange()">
                                </div>
                                <span class="input-group-addon" style="border-radius: 3px;">timezone <button type="button" class="btn btn-primary btn-xs" style="font-size: 80%;" ng-model="timezoneOption" 
                                                      data-html="1" data-animation="am-flip-x" 
                                                      data-sort="0" data-placeholder="timezone" 
                                                      data-template="tag-sort-select.html"
                                                      ng-options="icon.value as icon.label for icon in timezoneOptions" bs-select>
                                Action <span class="caret"></span></span>
                                </button>
                            </div>
                        </div>
                        <div class="panel-inner">
                            <div style="height: 500px; width:100%; z-index: 1000; position: absolute; top: 0; right: 0; background: url(img/load.gif) no-repeat center scroll;" ng-if="loading"></div>
                            <stock ng-if="state.view == 'plot' || state.view == 'plot_grid'" buttons="true" series="instance" handler="plotHandler" watcher="state.data" height="500"></stock>
                            <search ng-if="(state.view == 'plot' || state.view == 'plot_grid')" series="searchResult" overlay="searchOverlay" handler="searchHandler" watcher="state.search" height="100"></search>
                            <div class="price-grid" style="height: 500px;" ng-if="state.view == 'grid' || state.view == 'plot_grid'" ng-grid="gridHandler(instance)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include script %>

        <% include footer %>
    </body>
</html>
