<!doctype html>
<html ng-app="tauApp">
    <head>
        <% include header %>
        <style type="text/css">
        .panel-header-plain a {
        color: white;
        margin-right: 5px;
        }
        .small-text {
            font-size: 70%;
        }
        </style>
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.7/ng-grid.css"></link>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/minified/jquery-ui.min.css"></link>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.css"></link>
        <script src="js/multiSortable.js" type="text/javascript"></script>

        <script src="js/datetime.js"></script>
        <script src="js/data-view.js"></script>
        <script type="text/javascript" src="js/ng-tags-input.js"></script>
        <link rel="stylesheet" type="text/css" href="css/ng-tags-input.min.css"></link>
        <script type="text/javascript" src="js/JSONedit.js"></script>
        <link rel="stylesheet" type="text/css" href="css/JSONedit.css"></link>
        <link rel="stylesheet" type="text/css" href="css/tau.css"></link>
    </head>
    <body ng-controller="DataProcess">
        <% include mainnav %>

        <div class="container-fluid" style="height: 100%;">
            <div class="row-fluid">    
                <div class="col-md-2">
                    <div class="panel" ng-controller="TaskActive">
                        <div class="panel-header">Working</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active" ng-if="isEmptyObject(active.executing)" ng-click="show('active')"><a class="small-text" href="#">no active workers</a></li>
                                <li class="active" ng-repeat="(key, val) in active.executing" ng-click="show('active')"><a class="small-text" href="#"><span class="badge pull-right">{{val}}</span>{{key}}</a></li>
                            </ul>
                        </div>
                        <div class="panel-header">Queued</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active" ng-if="isEmptyObject(active.queues)" ng-click="show('active')"><a class="small-text" href="#">no active queues</a></li>
                                <li class="active" ng-repeat="(key, val) in active.queues"><a class="small-text" href="#"><span class="badge pull-right">{{isArray(val) ? val.length : val}}</span>{{key}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">Workers</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#" ng-click="show('workers-ondemand')"><i class="fa fa-cloud icon-white"></i> On Demand<span class="badge pull-right">{{workers_ondemand.length}}</span></a></li>
                                <li class="active"><a href="#" ng-click="show('workers-shared')"><i class="fa fa-rocket icon-white"></i> Shared<span class="badge pull-right">2</span></a></li>
                            </ul> 
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">Process Configuration</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#" ng-click="show('process-tasks')"><i class="fa fa-filter icon-white"></i> Process Tasks</a></li>
                                <li class="active"><a href="#" ng-click="show('configuration')"><i class="fa fa-cogs icon-white"></i> Configuration</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">Metadata</div>
                        <div class="panel-inner">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#" ng-click="show('symbol')"><i class="fa fa-key icon-white"></i> Symbol</a></li>
                                <li class="active"><a href="#" ng-click="show('series-mapping')"><i class="fa fa-compass icon-white"></i> Series Mapping</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-10">
                    <div class="panel" ng-if="view == 'active'" ng-controller="TaskActive">
                        <div class="panel-header">Active Tasks</div>
                        <div class="panel-inner" style="height: 500px;" ng-controller="TaskStatus" ng-init="init('working')">
                            <div style="height: 100%;" ng-grid="gridHandler()"></div>
                        </div>
                        <div class="panel-header">Failed Tasks</div>
                        <div class="panel-inner" style="height: 200px;" ng-controller="TaskStatus" ng-init="init('failed')">
                            <div style="height: 100%;" ng-grid="gridHandler()"></div>
                        </div>
                    </div>
                    <div class="panel" ng-if="view == 'configuration'" ng-controller="TaskConfiguration">
                        <div class="panel-header">Configuration</div>
                        <div class="panel-control">
                            <div style="width: 300px; float: left;">
                                <tags-input ng-model="searchTags" 
                                            custom-class="tag-search"
                                            placeholder="Add search tags...">
                                    <auto-complete source="tag_autocomplete($query)" 
                                                   source_value="tag_autocomplete($query)" 
                                                   min-length=1>
                                    </auto-complete>
                                </tags-input>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="searchTagsHandler()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="addConfigHandler(false)">
                                    <i class="fa fa-plus-square icon-white"></i> New Configuration</a>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="addConfigHandler(true)">
                                    <i class="fa fa-pencil-square icon-white"></i> Clone Selected</a>
                            </div>
                            <div style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="deleteConfigHandler()">
                                    <i class="fa fa-minus-square icon-white"></i> Delete Selected</a>
                            </div>
                            <br style="clear: both;" />
                        </div>

                        <div class="panel-inner" style="height: 500px;">
                            <div style="position:fixed; height: 500px; width: 81%; overflow-y: scroll; background: white; z-index: 100;" ng-if="showEditContent">
                                <div class="jsonView" style="width: 80%;">
                                    <json child="editcontent" type="'object'" save="saveContent"></json>
                                </div>
                            </div>
                            <div style="height: 100%;" ng-grid="gridHandler()"></div>
                        </div>
                    </div>
                    <div class="panel" ng-if="view == 'process-tasks'" ng-controller="TaskProcess">
                        <div class="panel-header">Process Tasks</div>
                        <div class="panel-control">
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Name</span><input class="tag-search" type="text" ng-model="searchName" placeholder="" />
                            </div>
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Process</span><input class="tag-search" type="text" ng-model="searchProcessor" placeholder="" />
                            </div>
                            <div style="float:left; margin-right: 10px;"> <!-- style="margin-left: 10px; float: left; line-height: 38px; vertical-align: middle;">-->
                                <a class="btn btn-primary btn-xs" href="#" ng-click="searchHandler()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="addProcessHandler(false)">
                                        <i class="fa fa-plus-square icon-white"></i> New Process</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="addProcessHandler(true)">
                                        <i class="fa fa-pencil-square icon-white"></i> Clone Selected</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="deleteProcessHandler()">
                                        <i class="fa fa-minus-square icon-white"></i> Delete Selected</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="runProcess()">
                                        <i class="fa fa-rocket icon-white"></i> Force Run Selected</a>
                                </div>
                            <br style="clear: both;" />
                        </div>
                        <div class="panel-inner" style="height: 500px;">
                            <div style="position:fixed; height: 500px; width: 81%; overflow-y: scroll; background: white; z-index: 100;" ng-if="showJsonEdit">
                                <div class="jsonView" style="width: 80%;">
                                    <json child="jsonValue" type="'object'" save="saveJson"></json>
                                </div>
                            </div>
                            <div style="height: 100%;" ng-grid="gridHandler()"></div>
                        </div>
                    </div>
                    <div class="panel" ng-if="view == 'symbol'" ng-controller="Symbol">
                        <div class="panel-header">Symbol</div>
                        <div class="panel-control">
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Symbol</span><input class="tag-search" type="text" ng-model="searchSymbol" placeholder="" />
                            </div>
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Name</span><input class="tag-search" type="text" ng-model="searchName" placeholder="" />
                            </div>
                            <div style="float:left; margin-right: 10px;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="search()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="add(false)">
                                        <i class="fa fa-plus-square icon-white"></i> New Symbol</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="add(true)">
                                        <i class="fa fa-pencil-square icon-white"></i> Clone Selected</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="delete()">
                                        <i class="fa fa-minus-square icon-white"></i> Delete Selected</a>
                                </div>
                            <br style="clear: both;" />
                        </div>
                        <div class="panel-inner" style="height: 500px;">
                            <div style="position:fixed; height: 500px; width: 81%; overflow-y: scroll; background: white; z-index: 100;" ng-if="showJsonEdit">
                                <div class="jsonView" style="width: 80%;">
                                    <json child="jsonValue" type="'object'" save="saveJson"></json>
                                </div>
                            </div>
                            <div style="height: 100%;" ng-grid="grid()"></div>
                        </div>
                    </div>
                    
                    <div class="panel" ng-if="view == 'symbol-mapping'" ng-controller="SymbolMapping">
                        <div class="panel-header">Symbol</div>
                        <div class="panel-control">
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Symbol</span><input class="tag-search" type="text" ng-model="searchSymbol" placeholder="" />
                            </div>
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Mapped Symbol</span><input class="tag-search" type="text" ng-model="searchMappedSymbol" placeholder="" />
                            </div>
                            <div class="input-group" style="float:left; margin-right: 10px;">
                                <span class="input-group-addon">Provider</span><input class="tag-search" type="text" ng-model="searchProvider" placeholder="" />
                            </div>
                            <div style="float:left; margin-right: 10px;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="search()">
                                    <i class="fa fa-search icon-white"></i> Search</a>
                            </div>
                            <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="add(false)">
                                        <i class="fa fa-plus-square icon-white"></i> New Symbol</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="add(true)">
                                        <i class="fa fa-pencil-square icon-white"></i> Clone Selected</a>
                                </div>
                                <div style="margin-left: 10px; float: left;">
                                    <a class="btn btn-primary btn-xs" href="#" ng-click="delete()">
                                        <i class="fa fa-minus-square icon-white"></i> Delete Selected</a>
                                </div>
                            <br style="clear: both;" />
                        </div>
                        <div class="panel-inner" style="height: 500px;">
                            <div style="position:fixed; height: 500px; width: 81%; overflow-y: scroll; background: white; z-index: 100;" ng-if="showJsonEdit">
                                <div class="jsonView" style="width: 80%;">
                                    <json child="jsonValue" type="'object'" save="saveJson"></json>
                                </div>
                            </div>
                            <div style="height: 100%;" ng-grid="grid()"></div>
                        </div>
                    </div>

                    <div class="panel" ng-if="view == 'workers-ondemand'" ng-controller="WorkersOnDemand">
                        <div class="panel-header">Workers On Demand</div>
                        <div class="panel-control">
                            <div style="margin-left: 10px; float: left;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="add()">
                                <i class="fa fa-plus-square icon-white"></i> New Worker</a>
                            </div>
                            <div style="margin-left: 10px; float: left;">
                                <a class="btn btn-primary btn-xs" href="#" ng-click="delete()">
                                <i class="fa fa-minus-square icon-white"></i> Destroy Selected</a>
                            </div>
                            <br style="clear: both;" />
                        </div>
                        <div class="panel-inner" style="height: 500px;">
                            <div style="height: 100%;" ng-grid="grid()"></div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        </div>

        <% include script %>

        <% include footer %>
    </body>
</html>
