<div class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <a href="#" class="navbar-brand navbar-right"><i class="tau-top">&tau;</i><br></a>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a id="view-dropdown" href="/" role="button" class="dropdown-toggle" data-toggle="dropdown">Screen <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="view-dropdown">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="data-view">View</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="data-process">Processing</a><li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="data-acquire">Acquisition</a><li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
