
.container-fluid {
    padding: 0px;            
}

.navbar {
    min-height:20px !important
}

.navbar .container {
    color: gray;
}

.hero-unit {
    margin-top:-20px;
    margin-bottom:30px;
    padding-top:0px;
    background:url('../img/stack.jpg') no-repeat;
    width: 100%;
    height: 400px;
}

.hero-content {
    padding-top: 180px;
    color: white;
    text-shadow: 1px 1px #333333;
}

.tau { 
    color: white; 
    line-height: 5px; 
    vertical-align: top; 
    display: inline-block; 
    font-family: "GFS Didot", serif; 
    font-size: 250% 
}

.tau-top { 
    color: gray; 
    line-height: 5px; 
    vertical-align: top;
    display: inline-block; 
    font-family: "GFS Didot", serif; 
    font-size: 200% 
}

.panel {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
}

.panel-inner {
    margin: 10px;
}

.tag-search .tags .tag-list .tag-item {
    color: white;
    background: rgb(42, 159, 214);
}

.tag-edit .tags .tag-list .tag-item {
    color: white;
    background: rgb(42, 159, 214);
}

.tag-edit .tags .tag-list .tag-item .ng-binding {
    font-size: 80%;
}

.tag-edit .tags {
    height: 31px;
    line-height: 10px;
    padding: 4px;
    margin: 4px;
}

.panel-header {
    background: gray;
    padding-left: 10px;
    color: white;
    font-variant: small-caps;
}

.panel-header-plain {
    background: gray;
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
}

.panel-control {
    background: #dedede;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
}

.panel-control input[type=text] {
    color: white;
    border: 0px solid white; 
    font-size: 85%;
    padding: 3.25px 5px 3.25px 5px;
    background: rgba(42,159,214,0.7);
    margin: 0px 0px 0px 0px;
    border-radius: 0px 3px 3px 0px;
    line-height: 14px;
}

.panel-control input[type=number] {
    color: white;
    border: 0px solid white;
    font-size: 85%;
    padding: 3.25px 5px 3.25px 5px;
    background: rgba(42,159,214,0.7);
    margin: 0px 0px 0px 0px;
    border-radius: 0px 3px 3px 0px;
    line-height: 14px;
}


.panel-control .input-group-addon {
    background-color: rgba(42,159,214,1);
    padding: 4px 5px 4px 5px;
    margin: 0px 0px 0px 0px;
    font-size: 80%;
    border: 0px none;
    border-radius: 3px 0px 0px 3px;
    display: inline;
}

.panel-control .input-group {
    display: inline;
}

.price-grid {
    font-size: 80%;
}

.btn-pull-right {
    float: right !important;
    margin-left: 5px;
}

.search-list {
    margin: 5px;
    max-height: 500px;
    overflow: auto;
}

.search-result {
    margin: 3px;
    padding: 3px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #2a9fd6;
}

.search-result-selected {
    background-color: #d5dfe3;
}

.button-space {
    margin-top: 5px;
    height: 25px; 
}

.search-result-label {
    margin-right: 5px;
    display:inline-block;
}

.search-result-spark {
    margin-top: 3px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    display: block;
}

.row-tag {
    margin: 3px;
}

.truncate {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

.tag-save {
    line-height: 20px;
    color: gray;
    margin: 5px;
    font-size: 70%;
}

.tag-save:hover {
    color: rgba(42,159,214,1);
    cursor: hand;
    cursor: pointer;
}

.icon-primary {
    color: rgba(42,159,214,1);
}

.cellinput {
    background: white;
    display: table-cell;
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
}

.cellinput input {
    padding-left: 5px;
    padding-top: 3px;
    font-size: 80%;
    background: none;
    border: none;
}

.cellinput input:focus {
    border: none;
}

.block .fa {
    display: none;
}

.block:hover .fa {
    display: inline;
    color: rgba(42,159,214,1);
}

.jsonView {
    background-color: white;
    font-size: 90%;
}

.jsonView input[type="text"] {
    padding: 3px;
    margin: 5px;
    border: 1px solid gray;
    color: gray;
    border-radius: 3px;
    line-height: 15px;
    width: 350px;
}

.jsonView input[type="text"]:hover {
    color: white;
    border: 1px solid gray;
    background: rgba(42,159,214,0.8);
}

.jsonView input.keyinput {
    width: 150px;
}

.jsonView li {
    list-style-type: none;
}

.jsonView .deleteKeyBtn, .jsonView .moveArrayItemBtn {
    float: left;
}

.suggestion-item {
    color: gray;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.progress {
    background: gray;
    height: 15px;
}

.cell-div {
    position: absolute;
    top: 0;
    bottom: 0;
    vertical-align: middle;
    width: 100%;
    line-height: 30px;
    margin-left: 10px;
    font-size: 85%;
}

.cell-small {
    margin-left: 5px;
    padding-right: 3px;
    display:inline-block;
    margin-top: 4px;
    vertical-align: top;
    font-size: 75%;
    line-height: 20px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
}

.cell-none {
    margin: 0px;
    padding: 0px;
}

.status-detail {
    background: white;
    font-size: 80%;
}

.modal-backdrop {
    background: none;
}

.modal-header {
    background: white;
}

.modal-header.success {
}

.modal-header.failure {
}

.modal-body {
    background: white;
    border-bottom: 0px;
}

.modal-footer {
    background: white;
    border-top: 1px solid black;
    margin-top: 0px;
}

.plot-point {
    color: red;
    font-size: 70%;
}

.slide-element .highcharts-container {
    text-align: center !important;
    width: 100% !important;
}

.slide-element .highcharts-container svg {
    border: solid 3px rgba(150,150,150,0.6);
    height: 84px !important;
}

h4 {
    color: rgb(51, 51, 51);
}

body { 
    color: black;
    background: white;  
    font-size: 14px;
}

